*{
    font-family: 'Merriweather';
}

.photo{
    width: 1340px;
    margin: 0;

    
  
    
}
.photoinculde{
    border: 1px white solid;
    padding: 58px;
    width: 528px;
    height: 300px;
  position: relative;
  bottom: 224px;
  left: 85px;
  background: white;
  background: #FFFFFF;
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}
.inculde{
    margin: 20px;
}
.Explore{
    width: 130px;
    height: 30px;
    background: #F78065;
    border: 0px white solid;
    color: white;
    
}
.buttonEx{
display: flex;
}
.world{
    height: 13px;
}
.lesson2{
     margin-left: 65px;
     
    display: flex;
    justify-content: space-between;
 
}

.box2{
    margin-left: 70px;
    
}
.box3{
    margin-left: 70px;
}
.Promoting {
    font-size: 20px;
}
.Additional {
    font-size: 20px;
}
.Free{
    font-size: 20px;
}
.lesson3{
    width: 95%;
  margin: 0 auto;
  padding-left: 65px;
  margin-right: 40px;
  margin-top: 120px;
  
}
.Making2{
    width: 700px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    width: 1269px;
   
}
.box311{
    font-size: 21px;
}
.box312{
    font-size: 14px;
    width: 260px;
}
.box321{
    font-size: 21px;
}
.box322{
    font-size: 14px;
    width: 260px;
}
.box331{
    font-size: 21px;

}
.box332{
    font-size: 14px;
    width: 260px;
}
.box341{
    font-size: 21px;
}
.box342{
    font-size: 14px;
    width:260px;
}
#box323{
    padding-top: 17px;
}

#box343{
    padding-top: 17px;
}
.Show{
    border: 0px white solid;
    background: white;
    color: #F78065;
}



.text{
    width: 325px;
}

.lesson4{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 60px;
}

.text1{
    width: 325px;
    height: 171px;
    
   
}
.text11{
    font-size: 36px;
}
.text2{
    width: 325px;
    height: 66px;
}
.text21{
    font-size: 18px;
}
.pictures{
    display: flex;
   
}
.first{
    padding-right: 50px;
}
.second{
    padding-right: 50px;
}
.Lucciano{
    font-size: 24px;
}
.Cremonesi{
    font-size: 24px;
}
.Beneventi{
    font-size: 24px;
}
.Rome{
font-size: 14px;
}

.Florence{
font-size: 14px;
}
.Venice{
    font-size: 14px;
}
.View{
    border: 0px white solid;
    background:  white;
    color: #F78065;
    padding-right: 40px;
    font-size: 18px;
}

.text3{
    background: #F78065;
    display: flex;
    width: 200px;
    height: 50px;
    margin-top: 20px;
   
}

.start{
    border: 0px white solid;
    background: #F78065;
    color: white;
}
.text21{
    color: red;
}
.boxes2{
    display: flex;
    justify-content: space-between;
}
.Convenience{
    font-size: 22px;
    
}
.You{
    font-size: 14px;
}
.fsb{
    width: 386px;
    height: 28px;
}
.fsb1{
    padding-top: 20px;
    width: 386px;
    height: 96px;
}
.XMLID{
    width: 32px;
    height: 32px;
}
.book{
    width: 32px;
    height: 32px;
}
.search{
    width: 32px;
    height: 32px;
}
.lesson5{
    padding-left: 60px;
   margin-top: 150px;
}

.Easy1{
    font-size: 24px;
}
.When{
   
    width: 304px;
    height: 240px;
}

.When1{
    font-size: 48px;
}
.Discover{
    width: 195px;
    height: 23px;
}
.Discover1{
    font-size: 18px;
}

.Lesson611{
    display: flex;
    justify-content: space-between;
}

.Become{
    width: 171px;
    height: 23px;
}
.Assistance{
    width: 96px;
    height: 23px;
}
.lesson6{
    
    padding:100px ;
    background: #F7F7F7;
    margin-top: 120px;
}

.box61{
    padding-right: 50px;
}

.box62{
    padding-right: 50px;
}
.lists1{
    text-decoration: none;
   
}
.lists{
    list-style-type: none; 
    padding-top: 24px;  
    font-size: 14px;
    color: black;
}
.ullist{
    padding: 0;
    
}

footer{
    display: flex;
    justify-content: space-between;
}


.navbar{
    display: flex ;
    justify-content: space-between;

}
.nav22{
    display: flex;
    

}
.nav222{
   margin-right: 40px;
}

.li{
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.Eazy{
    font-size: 14px;
    margin-top: 17px;
}
.xett{
    border: 1px solid black;
}